{% extends "template.html.twig" %}

{% block title %}
    {{ firstName }} {{ name }}
{% endblock %}
    
{% block body %}
    <div>
        <p> Salut {{ name }} </p>
        Mon url absolue est : {{ url("first") }}
    </div>
{% endblock %}